.Button {
    border: none;
    border-radius: .5rem;
    padding: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: var(--color-secondary);
}

.Button:hover {
    filter: brightness(85%);
}
