.Toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: var(--toolbar-height);
    background-color: var(--color-primary);
    padding: 0 3rem;
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary);
    font-weight: 700;
    border: 1px solid var(--color-secondary);
    border-radius: .5rem;
    padding: .5rem;
}

.Logo img {
    margin: 0 1rem;
}
